{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>WIL& Shoes Shop</title>
    </head>
        <style>
            table {
                width: 80%;
            }
            td, th {
                text-align: left;
                padding: 8px;
            }
            .other1{
                width: 450px;
            }
            .other2{
                width: 50px;
            }
        </style>
    <body>
        <div id="HOME"></div>
          <nav class="navbar navbar-expand-xl navbar-light bg sticky-top" style="background-color: #455650; font-size: 24px; color: white;">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home:home' %}"><img src="{% static 'photos/WIL.jpg' %}" width="175px" height="auto"></a>
        <div class="collapse navbar-collapse" id="collapse_target" style="margin-left:5%">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{% url 'home:home' %}">Home</a></li>    
                <li class="nav-item"><a class="nav-link" href="" style="margin-left:50%">Categories</a></li>
            </ul>
        </div>
    </nav>
        <div class="forms">
        </br>
            <p style="text-align: center; font-size: 40px">List Kritik/Saran</p>
            <table bgcolor="white" align="center" style="margin-top: 40px; margin-bottom: 40px; font-size: 24px;">
                {% for form in forms %}
                <div class="form">
                    <tr>
                        <th>{{ form.date }}</th>
                    </tr>
                    <tr>
                        <td class="othe1">{{ form.saran }}</td>
                        <td class="other2"><a href="/removeKritik/{{form.id}}" style="text-decoration:none; color:red">Remove</a></td>
                    </tr>
                    <tr>
                        <td></br></td>
                    </tr>
                </div>
                {% endfor %}
            </table>
        </div>
    </body>
</html>