<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>tugas kelompok 1</title>
    <link rel="stylesheet" href= "{% static "css/bootstrap.css" %}">
    
</head>
<body>
        <div>
                <nav class="navbar navbar-expand-xl navbar-light bg sticky-top" style="background-color: #455650; font-size: 24px; color: white;">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home:home' %}"><img src="{% static 'photos/WIL.jpg' %}" width="175px" height="auto"></a>
        <div class="collapse navbar-collapse" id="collapse_target" style="margin-left:5%">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{% url 'home:home' %}">Home</a></li>    
                <li class="nav-item"><a class="nav-link" href="{% url 'home:home' %}" style="margin-left:50%">Categories</a></li>
            </ul>
        </div>
    </nav>

            </div>
        <h1 style= "position: absolute; font-size: 4vw; margin: 40vw; margin-top: 5vw">Terimakasih</h1>
        <br>
        <br>
        <p style= "position: absolute; text-align: center; font-size: 2vw; margin: 5vw; margin-top: 10vw">
            Admin kami akan menghubungi anda via WA atau SMS untuk memberi tahu total harga dan ongkos kirim pesanan anda, maksimal 1 x 24 jam.</p>
    
        <form action="{% url 'home:home' %}">
            <button type="submit" style= "position: absolute; font-size: 2vw; margin: 48vw; margin-top: 20vw">Back</button>
        </form>
    
</body>


</html>