
{% load static %}

<html>
<head>
<title> Shoes Categories </title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">     
  <style>

nav{
    background-color:455650;
  }
  .nav-link{
    color:white;
  }

  body{
    background-color:F7F6E7; 
  }

  .container-fluid img{
    padding:10px;
  }
</style>


</head>



<body>
<div id="HOME"></div>
     <nav class="navbar navbar-expand-xl navbar-light bg sticky-top" style="background-color: #455650; font-size: 24px; color: white;">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home:home' %}"><img src="{% static 'photos/WIL.jpg' %}" width="175px" height="auto"></a>
        <div class="collapse navbar-collapse" id="collapse_target" style="margin-left:5%">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{% url 'home:home' %}">Home</a></li>    
                <li class="nav-item"><a class="nav-link" href="{% url 'home:home' %}" style="margin-left:50%">Categories</a></li>
            </ul>
        </div>
    </nav>


<div class="container-fluid" style="padding:20px">


    <br/>
   <h1 style="margin:20px"> Sepatu Sport </h1>
  <div class="row">
    <div class="col">
    <a class="nav-link" href="{% url 'description:index' %}"><img src="{% static 'olahraga1.jpg' %}" width="350" height="280" title="CS-01" alt="Sepatu 1"> </a>
    </div>

    <div class="col">
      <a class="nav-link"href="{% url 'description:index' %}">
    <img src="{% static 'olahraga2.jpg' %}" width="350" height="280" title="CS-02" alt="Sepatu 2"></a>
    </div>

    <div class="col">
      <a class="nav-link" href="{% url 'description:index' %}">
    <img src="{% static 'olahraga3.jpg' %}" width="350" height="280" title="CS-03" alt="Sepatu 3">
  </a>
    </div>

    <div class="col">
      <a class="nav-link" href="{% url 'description:index' %}">
    <img src="{% static 'olahraga4.jpg' %}"  width="350" height="280" title="CS-04" alt="Sepatu 4">
  </a>
    </div>


    <div class="col">
      <a class="nav-link" href="{% url 'description:index' %}">
    <img src="{% static 'olahraga5.jpg' %}"  width="350" height="280" title="CS-05" alt="Sepatu 5">
  </a>
    </div>


    <div class="col">
      <a class="nav-link" href="{% url 'description:index' %}">
    <img src="{% static 'olahraga6.jpg' %}"  width="350" height="280" title="CS-06" alt="Sepatu 6">
  </a>
    </div>

</div>

<form method="POST" class="form" style="padding:20px;margin-top: 50px">
  <h2> Tanya jawab </h2>
  {% csrf_token %}
  <p>Nama</p>
    {{ form.nama }}
    <p><br/>Kota</p>
    {{ form.kota }}
    <p><br/>Pertanyaan</p>
    {{ form.isi }}
    <p><br/></p>
       <div class="full">
                <input type="submit" class="button" value="Submit" />
            </div>
</form>




</body>
</html>